<div class="row valign-wrapper" id="topbar">
  <div class="col s1">
    <%= link_to image_tag('cafe23_logo.jpeg', width: "110%"), home_path %>
  </div>
  <div class="col s10">
    <h2><%= link_to 'Cafe23', home_path %></h2>
    <h5><em>A great place for a career.</em></h5>
  </div>
  <div class="col s1">
    &nbsp;
  </div>
</div>