<div class="row">    
  <div class="col s9">
    <div class="card">
      <div class="card-content">
        <%#= image_tag 'alex_and_dusty_sm.jpg', class: 'img_left' %>
        <span class="card-title"><em>About Cafe23 Management System</em></span>
        <p>We know how important your coffee is to you.  We know
          how much you love them and how they are a part of 
          your family. And although we live in the 'Steel City'
          and the people here are tough, we also know your coffee beans
          aren't always as rugged. That's why the baristas
          at Cafe23 is committed to giving you and your coffee only the best care at
          the most affordable prices.
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>

